/models
/panlogs2
/tempouts
/testimgs
/Unsplash
/unsplashlist.npy
/utils/__pycache__
/trainarch/__pycache__
/modelarch/__pycache__
/datasetarch/__pycache__
/panlogs3
__pycache__/
/div2k
/panlogs4
/panlogs5